.addRow {
  height       : 40px;
  border       : 1px dashed #d9ecff;
  text-align   : center;
  line-height  : 40px;
  margin-top   : -1px;
  position     : absolute;
  width        : 100%;
  cursor       : pointer;
  border-radius: 0 0 6px 6px;
}

.addRow:hover {
  background-color: #d9ecff;
}
